@import "form.css";

@font-face {
    font-family: 'MinhaFonte';
    font-style: normal;
    font-weight: 400;
    src: url('../font/Festive-Regular.ttf');
}

table {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

/*
li {
    color: red;
}
*/

#margem_espaco {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tamanho_fonte {
    font-size: 1.2em;
    font-weight: bold;
}

.fascinate-regular {
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}

header {
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    background-color: skyblue;
}

footer {
    font-family: 'MinhaFonte';
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

ul > li:first-child {
    color: red;
}

ul li:last-child, ol li:last-child {
    background-color: silver;
}

/*table tr:nth-child(3) {*/
/*table tr:nth-child(even) {*/
/*table tr:nth-child(odd) {*/
table tr:nth-child(3n) {
    background-color: silver;
}

table tr:hover {
    background-color: bisque;
    font-style: italic;
}

.botao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.botao:hover {
    text-decoration: underline;
    background-color: darkgreen;
}

.botao:active {
    color: red;
}