input[type=text]{
    border: none;
    border-bottom: 0.8px solid red; 
}

input {
    margin-bottom: 5px;
    padding: 8px;
}

input:focus {
    outline: none;
    background-color: yellow;
}

input[type=password] {
    width: 100px;
    transition: width 0.5s ease-in-out;
}

input[type=password]:focus {
    width: 90vw;
}

#transicao {
    width: 200px;
    height: 200px;
    background-color: blue;

    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

#transicao:hover {
    width: 400px;
    height: 400px;
}

