header {
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

table {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}

td, tr {
    border: 1px solid black;
    width: 30px;
    padding: 20px;
}

