header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    color: white;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container_tabela {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#back_pg {
    margin-left: 5px;
}

#back_pg:hover {
    cursor: pointer;
}

#textoDigitado {
    margin-top: 5px;
}

table {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}

td,
tr {
    border: 1px solid black;
    width: 30px;
    padding: 20px;
}

#btn_addTable {
    margin-top: 5px;
}